<!DOCTYPE html>
<html>
<head>
    <title>Register // ScribeNest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <div class="logo">
            SCRIBENEST
        </div>

        <p class="subtitle">
            CREATE YOUR KNOWLEDGE SPACE
        </p>

        <h1>Create Account</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}

        <form method="POST">

            <label>Name</label>

            <input
                type="text"
                name="name"
                required
            >

            <label>Email</label>

            <input
                type="email"
                name="email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                minlength="6"
                required
            >

            <button type="submit">
                CREATE ACCOUNT
            </button>

        </form>

        <p class="switch">
            Already have an account?
            <a href="{{ url_for('login') }}">
                Login
            </a>
        </p>

    </div>

</div>

</body>
</html>